<!DOCTYPE html>
<html>
  <head>
    <title>CryptoWallet</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="container-fluid">
        <ul class="nav justify-content-end">
          <li class="nav-item">
            <%= link_to 'Português', root_path(locale: 'pt-BR'), class: "nav-link"%>
          </li>
          <li class="nav-item">
            <%= link_to 'English', root_path(locale: 'en'), class: "nav-link"%>
          </li>
        </ul>

      <%= yield %>
      <footer>
        <p>Desenvolvido por: <strong>Wltech</strong></p>
      </footer>
    </div>
  </body>
</html>
